<!DOCTYPE html>
<html>
  <head>
    <title>All Flights Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Flights Lab</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/flight">All Flights</a></li>
          <li><a href="/flight/create">Create A Flight</a></li>
        </ul>
      </div>
    </nav>

      <div class="container">


    <h1>All Flights</h1>
    <div class="centered">
    <% for (f of flights){ %>
            <hr>
                  <tr >
                      <td><i class="small material-icons" >spa</i> Airline - <%= f.airline %></td><br>
                      <td><i class="small material-icons">flight</i>  Airport - <%= f.airport %></td><br>
                      <td><i class="small material-icons">confirmation_number</i>  Flight Number - <%= f.flightNo %></td><br>
                      <td><i class="small material-icons">flight_takeoff</i>  Departs At - <%= f.depart.getUTCFullYear() + '/' + (f.depart.getUTCMonth() + 1) + '/' + f.depart.getUTCDate()  %></td><br>
                      <td><a href="/flight/show/<%= f.id %>"><i class="small material-icons">details</i>  View The Flight Details</td><br></a>
                  </tr>
              <hr>
            <% }; %>
    </div>

  </div>

  </body>
</html>
